

.NavBarWrapper {
    padding:15px 30px;
    display: flex;
    justify-content: space-between;
    background-color: #060606;
}
.NavBarLogo
{
    height: 40px;
    width: 100px;
}

.link 
{
    text-decoration: none;
}